{% extends "base.html" %}

{% block content %}

<div class="row login-row" style="justify-content: center; gap: 2rem;">

  <!-- Login Card -->
  <div class="col-sm-6" style="max-width: 480px;">
    <div class="card card-body bg-light login-card">
      <form method="post" action="{{ url_for('auth.login') }}">
        <fieldset>
          <legend>Agent Login</legend>
          <hr />
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" name="type" value="Login">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <!-- Sign Up Card -->
  <div class="col-sm-6" style="max-width: 480px;">
    <div class="card card-body bg-light login-card">
      <form method="post" action="{{ url_for('auth.signup') }}">
        <fieldset>
          <legend>New Agent Registration</legend>
          <hr />
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" required>
          </div>
           <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" required>
          </div>
           <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" required>
          </div>
          <div class="form-group">
            <input class="btn btn-success" type="submit" name="type" value="Create Account">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
{% endblock %}
