{% extends "base.html" %}

{% block content %}
<div class="row mb-4">
  <h1>Agent Profile: {{ user.username }}</h1>
</div>
<div class="row row-left">
    <div class="col col-lg-8 align-with-heading">
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Codename: {{ user.username }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Full Name: {{ user.first_name }} {{ user.last_name }}</h6>
                <hr>
                <h5 class="card-title">Specialties:</h5>
                {% if user.tags %}
                    <ul>
                        {% for tag in user.tags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="card-text">No specialties listed.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
